.container {
    margin-top: 30px;
    background-color: #f9dd55;
}

.paydayContent {
    display: flex;
}

.paydayText {
    position: relative;
    max-width: 670px;
    margin: 128px 203px 155px 63px;
    position: relative;
}

.paydayTitle {
    font-weight: 900;
    font-size: 112px;
    line-height: 1.25;
}

.highlight {
    position: relative;
    display: inline-block;
}

.highlight span {
    position: relative;
}

.highlight::before {
    content: '';
    display: block;
    position: absolute;
    top: -3px;
    bottom: 10px;
    left: -20px;
    right: -30px;
    background-color: #fff;
    transform: rotate(-2deg);
}

.paydayDescr {
    display: block;
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.05em;
    margin-top: 40px;
}

.descrBold {
    display: block;
    font-weight: 700;
    margin-top: 40px;
}

.paydayBtn {
    padding: 18px 40px;
    background: #000;
    border-radius: 10px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.5;
    color: #f4f6f5;
    position: absolute;
    margin-top: 30px;
}
